{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
{%for r in random%}
    <h1>{{r.title1}}</h1>

    <h2>{{r.title2}}</h2>
    <div>{{r.text}}</div>
    <!-- <img src={{r.pic}}> -->
        <!-- <h1>Рандомные 5 вещей, которые меня забавят</h1>

        <h2>Странный диван-гнездо</h2>
        <div>
            Круглая деревянная конструкция в виде гнездышка с мягкими яйцевидными 
            подушками предназначена для работы и отдыха. Это креативная идея, которая не имеет аналогов: 
            мебель от дизайнеров из Creative Group полностью отличается от традиционных диванов и кресел.
        </div>
        <img src="{{url_for('static', filename='divan.jpg')}}">

        <h2>Варенье из сосновых шишек</h2>
        <div>
            Варенье из сосновых шишек — это лакомство, которое можно приготовить своими руками из зеленых плодов 
            сосны. Запахом и вкусом оно напоминает продукт из земляники, имеет приятный аромат и мятное с 
            горчинкой послевкусие.
        </div>
        <img src="{{url_for('static', filename='varene.jpg')}}">

        <h2>Мем-кандибобер</h2>
        <div>
            Кандибобер (женщина в красном берете) – мемный ролик про женщину в красном берете. В широком смысле 
            стал означать нечто непонятное, странное. В узком смысле – несуразный головной убор.
        </div>
        <img src="{{url_for('static', filename='kandibober.jpg')}}">

        <h2>Мои любимые ориенталы</h2>
        <div>
            Эти создания общительны и отличаются безграничной преданностью, что роднит их темперамент с собачьим. 
            Ориентал – это идеальный компаньон, готовый составить вам компанию в любом деле – не важно, будет 
            это генеральная уборка или кругосветное путешествие. 
        </div>
        <img src="{{url_for('static', filename='oriental.jpg')}}">

        <h2>Рябина (как она сюда попала)</h2>
        <div>
            Рябина – это небольшое дерево из семейства Розовые. Его плоды остаются до поздней осени, иногда даже 
            всю зиму, и служат пищей для птиц. Именно от этого происходит латинское название рябины, которое 
            переводится как «птица» и «привлекать». Плоды рябины использовали в качестве приманки для ловли птиц.
        </div>
        <img src="{{url_for('static', filename='ryabina.jpg')}}"> -->
        {% endfor %}

{% endblock %}